{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}




{% layout 'password' %}

  <section role="banner" class="bg-white bn ba-l bw4-l b--transparent">
    <center class="w-100 mw7 dt ma0 center">
      <div class="dtc v-mid tl ph4 pv5">
        <h2>{{ 'general.password_page.opening_soon' | t }}</h2>
        {% unless shop.password_message == blank %}
          <p>
            {{ shop.password_message }}
          </p>
        {% endunless %}

        {% form 'customer' %}

          {{ form.errors | default_errors }}

          {% if form.posted_successfully? %}
            <ul class="form-success">
              <li>{{ 'general.password_page.signup_form_success' | t }}</li>
            </ul>
          {% else %}
            <h4>{{ 'general.password_page.signup_form_heading' | t }}</h4>

            <input type="hidden" name="contact[tags]" value="prospect, password page">

            <label for="email" class="f6 b db mb2">
              {{ 'general.password_page.signup_form_email_label' | t }}
            </label>

            <input class="input-reset br-pill ba bw1 b--inherit ph4 pv3 dib dark-gray"
              type="email"
              name="contact[email]"
              id="Email"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off"
              placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">

            <button type="submit" name="commit" class="input-reset bg-transparent no-underline br-pill ba bw1 b--inherit ph4 pv3 dib dark-gray hover-green b ttu tracked">
              {{ 'general.password_page.signup_form_submit' | t }}
            </button>
          {% endif %}
        {% endform %}

        {% if settings.share_facebook or settings.share_twitter %}
          <p>{{ 'general.password_page.spread_the_word' | t }}</p>
          {% include 'social-sharing' %}
        {% endif %}

        <a href="#Login">
          {% include 'icon-lock' %}
          {{ 'general.password_page.password_link' | t }} &rarr;
        </a>

    </div>
  </center>
</section>
