<div class="items-stretch wow animated fadeInRight" data-section-id="{{ section.id }}" data-section-type="tools-section">

  <center class="site-tools flex flex-wrap items-baseline justify-between" role="tools">

    <form action="/search" method="get" role="search" class="w-100 dn-ns w-auto-ns">

      <label for="Search" class="label-hidden">
        {{ 'general.search.placeholder' | t }}
      </label>

      <input type="search"
             name="q"
             id="Search"
             value="{{ search.terms | escape }}"
             placeholder="{{ 'general.search.placeholder' | t }}"
             class="input-reset db dib-ns w-100 w-auto-ns br-pill ba bw1 b--near-white ma0 ph4 pv3 dark-gray">
        <button type="submit" class="input-reset ma0 lh-title bg-white-10 no-underline br-pill ba bw1 b--inherit ph4 pv3 dib dark-gray hover-dark-blue b ttu tracked">
          {% include 'icon-search' %}
          <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
       </button>
    </form>

    <ul class="cart-nav__collapse db w-100 w-auto-ns flex-ns collapse list ma0 pa0 lh-copy" id="">

      <!-- Seach Toggle -->
      <li class="{% if link.active %}site-tool--active{% endif %}dn db-ns nowrap mh3-ns w-100 w-auto-ns">
        <a href="#" class="link underline-hover dark-gray b ttu">
        {% include 'icon-search' %}{{ 'general.search.submit' | t }}
        </a>
      </li>

      <!-- Cart -->
      <li class="{% if link.active %}site-tool--active{% endif %} nowrap mh3-ns w-100 w-auto-ns">
        <a href="/cart" class="cart link underline-hover dark-gray b ttu">
        {% include 'icon-cart' %}{{ 'layout.cart.title' | t }}

        {% if cart.item_count != 0 %}
          ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})
        {% endif %}
        </a>
      </li>

      {% if shop.customer_accounts_enabled %}
        {% if customer %}
        <li class="{% if link.active %} site-tool--active{% endif %} nowrap mh3-ns w-100 w-auto-ns">
          {% if customer.first_name != blank %}
            {% capture first_name %}<a class="link underline-hover dark-gray b ttu" href="/account">{{ customer.first_name }}</a>{% endcapture %}
            {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
          {% else %}
            <a class="link underline-hover dark-gray b ttu" href="/account">{{ 'layout.customer.account' | t }}</a>
          {% endif %}
        </li>

        <li class="{% if link.active %}site-tool--active{% endif %} nowrap mh3-ns w-100 w-auto-ns">
          {{ 'layout.customer.log_out' | t | customer_logout_link | replace: 'href', 'class="link underline-hover dark-gray b ttu" href' }}
        </li>
        {% else %}

        <li class="{% if link.active %}site-tool--active{% endif %} nowrap mh3-ns w-100 w-auto-ns">
          {{ 'layout.customer.log_in' | t | customer_login_link | replace: 'href', 'class="link underline-hover dark-gray b ttu" href' }}
        </li>

        <li class="{% if link.active %}site-tool--active{% endif %} nowrap mh3-ns w-100 w-auto-ns">
          {{ 'layout.customer.create_account' | t | customer_register_link | replace: 'href', 'class="link underline-hover dark-gray b ttu" href' }}
        </li>
        {% endif %}
      {% endif %}

    </ul>

  </center>

</div>

{% schema %}
  {
    "name": "Tools",
    "class": "tools",
    "settings": [
      {
        "type": "checkbox",
        "id": "menu_linklist",
        "label": "Search",
        "default": true,
        "info": "Include Search Input"
      }
    ]
  }
{% endschema %}
