<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js tk-proxima-nova" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <link href="https://unpkg.com/tachyons@4.8.1/css/tachyons.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet"/>
  <link href="https://unpkg.com/flickity@2.0/dist/flickity.min.css" rel="stylesheet">

  <script src="https://use.fontawesome.com/fb3b930dc0.js"></script>
  <script src="https://use.typekit.net/haz4qyi.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}
</head>

<body class="template-password w-100 dark-gray">

  <header role="header" class="bg-yellow bn ba-l bw4-l b--white">
    <center class="w-100 vh-100 vh-75-l mw7 dt ma0 center">
      <div class="dtc v-mid tl ph4 pv5">
        <h1 class="cursor b ma0 f1 f-subheadline-m f-headline-l lh-title tracked-tight" itemscope itemtype="http://schema.org/Organization">{{ shop.name }}</h1>
      </div>
    </center>
  </header>

  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

  <!-- <footer>
    {% capture shopify_link %}
      <a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
        {% include 'icon-shopify-logo' %}
        <span class="icon-fallback-text">Shopify</span>
      </a>
    {% endcapture %}
    {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify_link }}
  </footer> -->

  <section id="Login" role="banner" class="bg-near-white bn ba-l bw4-l b--white">
    <center class="w-100 mw7 dt ma0 center">
      <div class="dtc v-mid tl ph4 pv5">
        <h4 class="">{{ 'general.password_page.login_form_heading' | t }}</h4>
        {% form 'storefront_password' %}
          {{ form.errors | default_errors }}
          <label for="password" class="f6 b db mb2">{{ 'general.password_page.login_form_password_label' | t }}</label>
          <input class="input-reset br-pill ba bw1 b--inherit ph4 pv3 db silver bg-white-10"
            type="password"
            name="password"
            id="Password"
            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
          <button type="submit" name="commit" class="input-reset mv3 lh-title bg-white-10 no-underline br-pill ba bw1 b--inherit ph4 pv3 dib blue hover-dark-blue b ttu tracked">
            {% include 'icon-lock' %}
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        {% endform %}
        <p>{{ 'general.password_page.admin_link_html' | t }}</p>
      </div>
    </center>
  </section>

  {% section 'footer' %}
</body>
</html>
