<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies tk-proxima-nova" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet"/>
  <link href="https://unpkg.com/flickity@2.0/dist/flickity.min.css" rel="stylesheet">
  <link href="https://unpkg.com/tachyons@4.8.1/css/tachyons.min.css" rel="stylesheet"/>

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}


    <script src="https://use.fontawesome.com/fb3b930dc0.js"></script>
    <script src="https://use.typekit.net/haz4qyi.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://unpkg.com/headroom.js@0.9.4/dist/headroom.js"></script>
    <script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }} w-100 dark-gray">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <header class="w-100 bg-white z-max cf bn ba-l bw4-l b--transparent" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
    {% section 'site-menu' %}
    {% section 'site-tools' %}
  </header>
  <main role="main" id="MainContent" class="w-100">
    {% if template.name == 'index' %}
    {% section 'banner' %}
    {% section 'blockquote' %}
    {% else %}
    {% include 'page-header' %}
    {% endif %}
    {{ content_for_layout }}
    <section class="bg-light-green mw7 ma0 center ba bw4 b--white">
      <center class="db ph4 pv5">
        <h1 class="f3 f2-nslh-title measure normal">Ready to Work With Us?</h1>
        <a class="no-underline br-pill ba bw1 ph4 pv3 dib dark-gray hover-green b ttu tracked" href="{{ site.baseurl }}/about.html">Yes</a>
        <a class="no-underline br-pill ba bw1 ph4 pv3 dib mid-gray hover-light-red b ttu tracked" href="{{ site.baseurl }}/about.html">No</a>
      </center>
    </section>
    <section class="dt-ns w-100 near-white bg-near-black center bn ba-l bw4-l b--white" id="location">
      <center class="db dtc-ns ph4 ph5-l pv5 pv6-l">
        <h2 class="cursor f4 f3-ns mv0 lh-title tracked-tight wow animated fadeInDown">{{ shop.name }}</h2>
        <address class="fs-normal mv4 wow animated fadeInUp">
          <label class="db mv1 tracked silver b ttu"><small>Contact</small></label>
          <ul class="list pa0 mv0 lh-copy">
            <li><a class="link underline-hover mid-gray" href="mailto:hello@studiocraft.cc"><abbr title="Email" aria-hidden="true"><i class="fa fa-fw fa-envelope"></i></abbr>hello@studiocraft.cc</a></li>
            <li><a class="link underline-hover mid-gray" href="tel:13472211926"><abbr title="Phone"><i class="fa fa-fw fa-phone" aria-hidden="true"></i></abbr>(347) 221-1926</a></li>
            <li><a class="link underline-hover mid-gray" href="https://goo.gl/maps/ePAZK239wrC2" target="_blank"><abbr title="Location"><i class="fa fa-fw fa-globe" aria-hidden="true"></i></abbr>Brooklyn, NY</a></li>
          </ul>
        </address>
      </center>
      <center class="dn dtc-ns w-100 w-50-ns relative">
        <div id="map" class="absolute absolute--fill wow animated fadeIn" style="background-color:transparent"></div>
      </center>
    </section>

  </main>
  {% section 'footer' %}

</body>
</html>
